
RewriteEngine on
RewriteCond %{SCRIPT_FILENAME} !-d
RewriteCond %{SCRIPT_FILENAME} !-f

RewriteRule ^archive\-?([0-9-]+)$ archive.php?year=$1
RewriteRule ^([0-9-]+)/?(.*)$ post.php?entry=$1

RewriteRule ^sitemap\.xml sitemap.php
RewriteRule ^feed\.json jsonfeed.php
