body{
	line-height:1.6;
	color:#444;
	font-family: 'Avenir Next', 'Ubuntu', 'Helvetica', 'Segoe UI',  Verdana, sans-serif; 
	font-size:1.125em;
	word-wrap: break-word;
    margin: 0;
    padding: 0;
}

h1.article_title {
	font-size: 2.15em;
	color: black;
    text-align: center;
}

h2.article_date, h2.article_date a {
	font-size: 1em;
    text-decoration: none;
    text-align: center;
    margin-top: -30px;
}

.article {
    position: relative;
    max-width: 700px;
    margin: 0 auto;
    padding: 0 10px;
}

a, a:active, a:visited {
    color: #B02507;
}

img{max-width:100%;max-height:auto}

pre{white-space:pre-wrap;max-width:100%;overflow:auto;background-color:#f9f9f9;color:black;padding:3px;font-size:14px;}

code{white-space:pre-wrap;max-width:100%;overflow:auto;background-color:#f9f9f9;color:black;padding:3px}

blockquote{ background: #f9f9f9; /* quotes */
  border-left: 10px solid #ccc;
  margin: 1.5em 10px;
  padding: 0.5em 10px; }

.img-caption {
    text-align: center;
    font-size: 0.8em;
    font-style: italic;
}

figcaption {
    text-align: center;
    font-size: 0.8em;
    font-style: italic;
}

a.logo {
	color: white;
	text-decoration: none;
    font-size: 2em;
}

img.logo {
margin-top: 10px;
max-height:100px;
}

footer {
	background:#B02507;
  	padding: 1em 10px;
    text-align: center;
    color: white;
    max-width: 100%;
}

footer a, footer a:visited {
    color: white;
}

.navigation {
	background-color:#FEB912;
  	padding: 1em 10px;
    max-width: 100%;
    text-align: center;
    color: black;
}

.navigation a {
    color: black;
}

.navigation a:hover {
}

table {
    border: 1px solid #ccc;
    margin: 15px;
}

td,th {
    border: 1px solid #ccc;
    padding: 5px;
    background-color: #f9f9f9;
}

sup a {
text-decoration: none;
font-weight: bold;
}